<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Speedy - @ViewData["Title"]</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" asp-append-version="true" />
		<link rel="stylesheet" href="/css/bundle.css" />
		@RenderSection("header", false)
	</head>
	<body>
		<div id="vueapp" v-cloak>
			<div class="margin-bottom-20 text-center">
				<img src="/Speedy.png" width="42" height="42" class="margin-right-12 margin-top-4 inline" />
				<h1 class="inline margin-0"> Speedy</h1>
			</div>
			<div class="margin-bottom-20">
				@RenderBody()
			</div>
			<footer class="text-center">
				<p>&copy; @(TimeService.Now.Year) - Speedy</p>
			</footer>
		</div>

		<script src="~/js/bundle.js"></script>
		@RenderSection("Scripts", false)
	</body>
</html>