@model IndexViewModel

@{
	ViewData["Title"] = "Home Page";
}

@inject IHostingEnvironment hostingEnv

<div>
	Address : @Model.AddressCount
</div>
<div>
	People : @Model.PeopleCount
</div>
<br />
<div>
	Environment: @hostingEnv.EnvironmentName
</div>
<div>
	Development: @hostingEnv.IsDevelopment()
</div>
<div>
	Production: @hostingEnv.IsProduction()
</div>

<template v-for="item in items">
	{{ item }}
</template>

@section Scripts
{
	<script>

		var demo = new Vue({
			el: '#root',
			data: {
				items: ["1", "2"]
			}
		});

	</script>
}